<div class="modal modal-centered fade myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [id]="id">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{"operation" | translate}}</h1>
                <button type="button" class="btn-close" [attr.data-bs-dismiss]="id" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body body">
                <ng-template [ngIf]="cashier != null" [ngIfElse]="notImage">
                    <img *ngIf="cashier.photo != null; else notPhoto" [src]="decodeImg(cashier.photo)" alt="Image not found"
                            class="image">
                    <ng-template #notPhoto>
                        <img src="../../../assets/icons/image-not-found.png" class="card-img-top image" alt="Image not found" />    
                    </ng-template>
                </ng-template>
                <ng-template #notImage>
                    <img src="../../../assets/icons/image-not-found.png" class="card-img-top image" alt="Image not found" />
                </ng-template>
                <hr>
                <div class="input-group">
                    <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" regexInput="^[0-9]*\.[0-9]{2}$ or ^[0-9]*\.[0-9][0-9]$" [(ngModel)]="amount" required>
                </div>
                <p>Min. 5.00 - Max. 3000.00</p>
                <p *ngIf="!isValid" style="color: red;">{{"noAmount" | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  (click)="doTransaction(true)">{{'deposit' | translate}}</button>
                <button type="button" class="btn btn-primary"  (click)="doTransaction(false)">{{'draw' | translate}}</button>
            </div>
        </div>
    </div>
</div>