
  .myModal{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .btn-primary{
    background-color: #005442;
    border-color: #005442;
  }
  .modal-footer{
    justify-content: center;
  }

  .body{
    display: flex;
    flex-direction: column;
  }
