.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  width: 30%;
}

.row {
  justify-content: space-around;
}

.btn2 {
  width: 40%;
  background-color: #005540;
  color: white;
}

.bi-info-circle{
  cursor: pointer;
}

.bi-eye {
  cursor: pointer;
}

.bi-eye-slash {
  cursor: pointer;
}

.redInput {
  border-color: red;
}

@media only screen and (max-width: 430px) {
  .background {
    background: none;
  }

  .form {
    width: 70%;
  }

  .btn2{
    width: 40%;
  }
}
