.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  width: 40%;
}

.row {
  justify-content: center;
}

.btn2 {
  width: 40%;
  margin: 10px;
  background-color: #005540;
  color: white;
}

.bi-info-circle {
  cursor: pointer;
}

.bi-eye {
  cursor: pointer;
}

.bi-eye-slash {
  cursor: pointer;
}

.redInput {
  border-color: red;
}

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .form {
    width: 75%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .form {
    width: 55%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .form {
    width: 45%;
  }
}

@media only screen and (max-width: 430px) {
  .background {
    background: none;
  }

  .form {
    width: 70%;
  }

  .btn2 {
    width: 40%;
  }
}
