<div class="background">
  <form class="form" [formGroup]="form">
    <div class="container">
      <div>
        <div class="row mb-3">
          <label class="form-label">{{ "dni" | translate }}</label>
          <input
            [class.redInput]="
              this.form.get('dni')?.invalid && this.form.get('dni')?.touched
            "
            class="form-control"
            formControlName="dni"
            type="text"
          />{{ dni }}
        </div>
        <div class="row mb-3">
          <label class="form-label">{{ "email" | translate }}</label>
          <input
            [class.redInput]="
              this.form.get('email')?.invalid && this.form.get('email')?.touched
            "
            class="form-control"
            formControlName="email"
            type="text"
          />{{ email }}
        </div>
        <div (click)="setNewPassword()" class="row mt-5">
          <button>{{ "send" | translate }}</button>
          <button routerLink="/login">{{ "cancel" | translate }}</button>
        </div>
      </div>
      <div>
        <div *ngIf="showInput" class="row">
          <label class="form-label">{{ "newPassword" | translate }}</label>
          <input
            class="form-control"
            formControlName="password"
            type="password"
          />{{ password }}
        </div>
      </div>
    </div>
  </form>
</div>
