<div class="background">
  <form class="form" [formGroup]="form">
    <div class="container">
      <div>
        <div class="row mb-3">
          <label class="form-label">{{ "dni" | translate }}</label>
          <input
            [class.redInput]="
              this.form.get('dni')?.invalid && this.form.get('dni')?.touched
            "
            class="form-control"
            formControlName="dni"
            type="text"
          />{{ dni }}
        </div>
        <div class="row mb-3">
          <label class="form-label">{{ "email" | translate }}</label>
          <input
            [class.redInput]="
              this.form.get('email')?.invalid && this.form.get('email')?.touched
            "
            class="form-control"
            formControlName="email"
            type="text"
          />{{ email }}
        </div>
        <div class="row mt-5">
          <button (click)="setNewPassword()" class="btn">
            {{ "send" | translate }}
          </button>
          <button class="btn" routerLink="/login">
            {{ "cancel" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
