@media only screen and (max-width: 776px) {
  .navbar-brand {
    font-size: medium;
  }

  img {
    height: 30px;
  }

  svg {
    height: 28px;
  }

  .navbar {
    --bs-navbar-brand-padding-y: 0rem;
  }
}

@media only screen and (max-width: 657px) {
  .navbar-brand {
    font-size: smaller;
  }

  .navbar-toggler {
    margin-bottom: 1.5%;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    font-size: x-small;
  }

  .navbar-toggler {
    margin-bottom: 1.8%;
  }
}

@media only screen and (max-width: 484px) {
  span,
  img {
    display: none;
  }

  .fullLogo {
    display: inline !important;
    position: absolute;
    left: 35%;
    height: 50%;
  }

  .navbar-toggler {
    margin-bottom: 2%;
  }
}

.navbar-toggler {
  padding: 0;
}

.img {
  cursor: pointer;
}

.card {
  position: absolute;
  right: 0;
  top: 103%;
  border-color: #005540;
}

.btn {
  border-color: #005540;
  color: #005540;
  
}

.btn:hover{
    background-color: #005540;
    color: white;
  }

.row {
  height: 50%;
  margin: 3px;
}

.divLang {
  display: flex;
  align-items: center;
  width: 33%;
}

span {
  color: #005540;
  font-weight: 600;
  cursor: pointer;
}

span:hover {
  border-bottom: 2px solid #005540;
}

.navbar-toggler {
  border: transparent;
}

nav {
  border-bottom: 2px solid #005540;
}

.offcanvas-title,
.btn-close {
  color: #005540;
}

.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

.fullLogo {
  display: none;
}

.active-link {
  border-bottom: 2px solid #005540;
  padding: 5px;
}
