@media only screen and (max-width:575px) {
    .navbar-brand {
        //display: none;
        font-size: smaller;
    }
}

@media only screen and (max-width:776px) {
    .navbar-brand {
        font-size: medium;
    }     
}

a {
    color: #005540;
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    border-bottom: 2px solid #005540;
}

.navbar-toggler {
    border: transparent;
}

nav {
    border-bottom: 2px solid #005540;
}

.offcanvas-title, .btn-close {
    color: #005540;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0;
}