.searchbar{
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(190, 190, 190) 1px 1px 3px;
    background-color: rgb(255 255 255 / 59%);
}

.searchButton{
    border-radius: 60%;
    border-width: 0;
}
.searchInput{
    border-width: 0 1px 0 0;
    border-color: rgba(100, 100, 100, 0.238);
    border-radius: 0%;
    background-color: transparent;
    padding: 1px 5px;
    margin: 5px 0 5px 0;
}

.searchInput:focus{
    outline: none;
}

.searchButton:active{
    background-color: #005442;
}

.searchIcon{
    margin-bottom: 2px;
}

.details{
    background-color: rgba(240, 248, 255, 0.653);
}

.details:active{
    background-color: #005442;
}

.nav{
    box-shadow: rgb(190, 190, 190) 1px 1px 3px;
    background-color: rgba(240, 248, 255, 0.653);
}

@media only screen and (min-width: 2550px){
    .searchInput{
        padding: 0px 40px;
    }
}
