.searchbar{
    border-radius: 10px;
    border: 2px solid #005442;
    position: relative;
    top: 70px;
    left: 10px;
    background-color: rgb(245, 250, 255);
}

.searchButton{
    border-radius: 60%;
    border-width: 0;
}
.searchInput{
    border-width: 0 1px 0 0;
    border-color: #005442;
    border-radius: 0%;
    background-color: rgb(245, 250, 255);
    padding: 1px 5px;
    margin: 5px 0 5px 0;
}

.searchInput::placeholder {
    padding-left: 5px;
    color: #005442;    
}

.searchInput:focus{
    outline: none;
}

.searchButton:active{
    background-color: #005442;
}

.searchIcon{
    margin-bottom: 4px;
}

.details{
    background-color: rgba(240, 248, 255, 0.653);
}

.details:active{
    background-color: #005442;
}

.nav{
    box-shadow: rgb(190, 190, 190) 1px 1px 3px;
    background-color: rgba(240, 248, 255, 0.653);
}

@media only screen and (min-width: 2550px){
    .searchInput{
        padding: 0px 40px;
    }
}
