.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
  z-index: 1;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row {
  width: 75%;
  justify-content: center;
}

.bi:hover {
  cursor: pointer;
}

.btn {
  width: 40%;
  margin: 10px;
  background-color: #005540;
  color: white;
}

.bi {
  width: 13%;
}

.col {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.col {
  align-items: center;
}

input {
  width: 70%;
}

@media only screen and (max-width: 430px) {
  .background {
    background: none;
  }

  .bi {
    width: 30%;
  }

  input {
    width: 100%;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    width: 100%;
  }
}
