<div class="loading" *ngIf="!this._ready"> 
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden"></span>
    </div> 
</div>

<div class="container-fluid myQR">
    <div class="header">
        <img src="./../assets/img/logo-grande-verde.png" alt="logo" class="logo" width="300px">
        <div class="time">
            {{ timer }}
        </div>
        <div class="text">
            {{"scanQR" | translate}}
        </div>
    </div>
    <hr class="divisor">
    <div class="qrContainer">
        <qrcode *ngIf="this._ready" [qrdata]="base64QR" [width]="256" [errorCorrectionLevel]="'H'"></qrcode>
    </div>
    <hr class="divisor">
    <div class="botton">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#closeModal">
            {{"cancel" | translate}}
        </button>
        <button type="button" class="btn btn-primary btn-lg" routerLink="/main/map" data-bs-toggle="modal" data-bs-target="#closeModal">
            {{"end" | translate}}
        </button>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="closeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            {{"cancelText" | translate}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" routerLink="/main/map" data-bs-dismiss="modal">{{"confirm" | translate}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
        </div>
      </div>
    </div>
  </div> -->
