<div class="loading" *ngIf="!this._ready"> 
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden"></span>
    </div> 
</div>

<div class="container-fluid myQR">
    <div class="header">
        <img src="./../assets/img/logo-grande-verde.png" alt="logo" class="logo" width="300px">
        <div class="time">
            {{ timer }}
        </div>
        <div class="text">
            {{"scanQR" | translate}}
        </div>
    </div>
    <hr class="divisor">
    <div class="qrContainer">
        <qrcode *ngIf="this._ready" [qrdata]="base64QR" [width]="256" [errorCorrectionLevel]="'H'"></qrcode>
    </div>
    <hr class="divisor">
    <div class="botton">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/main/map" >
            {{"end" | translate}}
        </button>
    </div>
</div>