<form class="form-control" [formGroup]="formCashier">
  <div class="container">
    <div class="admin">
      <h2>{{ "admin" | translate }}: {{user.dni}}</h2>
    </div>

    <div class="left-section">
      <h2>{{ "cashiers" | translate }}</h2>
      <mat-table [dataSource]="cashierList" class="mat-table mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let cashier" (click)="chooseCashier(cashier)">
            {{ cashier.id }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="locality">
          <mat-header-cell *matHeaderCellDef>
            {{ "locality" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let cashier" (click)="chooseCashier(cashier)">
            {{ cashier.locality }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>

    <div class="right-section">
      <h2>{{ "cashiersData" | translate }}</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="input1">ID</label>
          <input type="text" formControlName="id" id="idInput">
        </div>
        <div class="form-group">
          <label>{{ "cashierAvailable" | translate }}</label>
          <select formControlName="available" [(ngModel)]="selectedValue">
            <option value="true">{{ "yes" | translate }}</option>
            <option value="false">{{ "no" | translate }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{{ "cp" | translate }}</label>
          <input type="number" formControlName="cp" />
        </div>
        <div class="form-group">
          <label>{{ "balance" | translate }}</label>
          <input type="number" formControlName="balance" />
        </div>
        <div class="form-group">
          <label>{{ "locality" | translate }}</label>
          <input type="text" formControlName="locality" />
        </div>
        <div class="form-group">
          <label>{{ "latitude" | translate }}</label>
          <input type="number" formControlName="lattitude" />
        </div>
        <div class="form-group">
          <label>{{ "address" | translate }}</label>
          <input type="text" formControlName="address" />
        </div>
        <div class="form-group">
          <label>{{ "longitude" | translate }}</label>
          <input type="number" formControlName="longitude" />
        </div>
        <div class="atmRow">
          <ng-template [ngIf]="!noDisponible" [ngIfElse]="notImage">
            <img (click)="changeImage()" [src]="atmPhoto" />
          </ng-template>
          <ng-template #notImage>
            <div class="image">
              <img (click)="changeImage()" [src]="notFoundPhoto" class="card-img-top" alt="Image not found" />
            </div>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="button-container">
          <button class="btn" [disabled]="!this.formCashier.valid && 
                  (this.formCashier.get('id').value !== null || this.formCashier.get('id').value !== '')
                  || this.chooseIdFlag" (click)="createOrUpdateCashier()">
            {{ "new" | translate }}
          </button>
          <button class="btn" [disabled]="!this.formCashier.valid || this.updateBtn" (click)="createOrUpdateCashier()">
            {{ "update" | translate }}
          </button>
          <button class="btn" [disabled]="!this.formCashier.valid || this.deleteBtn" (click)="deleteCashier()">
            {{ "delete" | translate }}
          </button>
          <button class="btn" [disabled]="!this.formCashier.valid" (click)="resetForm()">
            {{ "reset" | translate }}
          </button>
        </div>
      </div>

    </div>
  </div>
</form>