.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-control {
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-row:hover {
  cursor: pointer;
}

.button {
  width: 25%;
}

h1 {
  text-align: start;
  width: 100%;
  height: 15%;
}

.col {
  height: 100%;
  width: 50%;
  &.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &.space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

label {
  width: 43%;
}

input {
  width: 50%;
}

select {
  width: 50%;
}

.btn {
  margin-top: 5px;
  width: 100%;
  background-color: #005540;
  color: white;
}

.image {
  width: 70%;
}

img {
  width: 25%;
}

.row {
  &.row1 {
    height: 13%;
    align-items: center;
  }

  &.row2 {
    padding-bottom: 4%;
    height: 78%;
    width: 90%;
  }

  &.space {
    justify-content: space-around;
  }

  &.align {
    align-items: center;
  }

  &.center {
    justify-content: center;
  }
}

.mat-table {
  overflow: auto;
  height: 150%;
  max-height: 100%;
}

@media (min-width: 425px) and (max-width: 767px) {
  .container {
    font-size: 14px;
    flex-direction: column;
    padding-bottom: none;
    padding-top: 10%;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .btn {
    width: 100%;
  }

  .row {
    align-items: center;
    text-align: start;

    &.row2 {
      height: 70%;
      width: 104%;
    }

    &.space {
      flex-direction: row;
    }

    &.align {
      align-items: center;
      justify-content: space-between;
      padding-top: 5px;
      margin-right: 2px;
    }
  }

  .image {
    display: flex;
    justify-content: center;
  }

  img {
    width: 30%;
  }

  select {
    width: 37%;
  }

  .col {
    height: 40%;
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 484px) {
  .row {
    &.row2 {
      width: 106%;
    }
    &.space {
      margin-bottom: 16%;
    }
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }

  .button{
    width: 40%;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  img {
    width: 25%;
  }

  .row {
    &.row1 {
      align-items: flex-start;
    }
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .row {
    &.row2 {
      width: 80%;
    }
  }

  img{
    width: 40%;
  }

  .button{
    width: 50%;
  }

  .btn{
    width: 100%;
  }
}
