.btn{
    background-color: transparent;
    border-radius: 60%;
    border-width: 0;
    padding: 0px;
}

.icn{
    position: relative;
}

.divisor{
    background: #005442;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px;
    border-radius: 70%;
    opacity: 0.9;
}

.transactionBtn{
    background-color: #005442;
    border-color: #005442;
}

.border-primary {
    border-color: rgb(0,84,66,var(--bs-border-opacity))!important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(0,84,66,var(--bs-bg-opacity))!important;
}

.myModal{
    position: absolute;
    top: 0;
    left: 0;
}