.btn{
    background-color: transparent;
    border-radius: 60%;
    border-width: 0;
    padding: 0px;
}

.icn{
    position: relative;
}

.divisor{
    background: #005442;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px;
    border-radius: 70%;
    opacity: 0.9;
}

.transactionBtn{
    background-color: #005442;
    border-color: #005442;
}
.transactionBtn:active{
    background: #0ae3b4de;
}

.border-primary {
    border-color: rgb(0,84,66,var(--bs-border-opacity))!important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(0,84,66,var(--bs-bg-opacity))!important;
}

.myModal{
    position: relative;
    top: 100px;
    left: 0;
}

.toggler:focus{
    border-color: none;
    outline: 0;
}
.toggler:active{
    border-color: none;
    outline: 0;
}
.toggler{
    border: none;
    outline: 0;
    background-color: rgba(240, 248, 255, 0.653);
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    cursor: pointer;
}

.card-img-top {
    width: 160px; 
    height: 150px;
}

.image {
    margin-top: 10px; 
    text-align: center;
}