<div class="empty" *ngIf="!cashiersList?.length">{{ "noResults" | translate }}</div>
<div class="card mb-2 border border-2 border-primary" *ngFor="let cashier of cashiersList">
  <ng-template [ngIf]="cashier.photo != null" [ngIfElse]="notImage">
    <img src="" class="card-img-top" alt="imagen de cajero" />
  </ng-template>
  <ng-template #notImage>
    <div class="image">
      <img src="./assets/icons/image-not-found.png" class="card-img-top" alt="Image not found" />
    </div>
  </ng-template>
  <div class="card-body">
    <h4 class="card-title">{{ cashier.address }}</h4>
    <h5 class="card-text">{{ cashier.locality }}</h5>
    <ng-template [ngIf]="cashier.available" [ngIfElse]="notAvailable">
      <h5 class="card-text" class="text-success">
        {{ "cashierAvailable" | translate }}
      </h5>
    </ng-template>
    <ng-template #notAvailable>
      <h5 class="card-text" class="text-danger">
        {{ "cashierNotAvailable" | translate }}
      </h5>
    </ng-template>
    <button type="button" class="bg-primary text-white border border-0 transactionBtn" *ngIf="cashier.available"
      (click)="openModal(cashier.id)" data-bs-target="#myModal">
      {{ "transactions" | translate }}
    </button>
  </div>
</div>