.main{
    display: grid;
}

.overlaySlider {
    position: absolute;
    z-index: 1000;
    bottom: 110px;
    justify-self: start;
    margin-left: 10px;
    margin-bottom: 10px;
}

app-map {
    position:absolute;
    width:100%;
    height:100%;
}