.main{
    display: grid;
}

.overlaySearchBar {
    position: absolute;
    top: 21px;
    left: 30px;
    z-index: 1000;
    background-color: transparent;
  }

.overlayDetails {
    z-index: 1000;
    align-self: center;
    justify-self: end;
    position: absolute;
    top: 570px;
}

.overlaySlider {
    position: absolute;
    z-index: 1000;
    bottom: 110px;
    justify-self: start;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1240px){
    .overlayDetails {
        top: 570px;
    }
}

@media only screen and (min-width: 1440px){
    .overlayDetails {
        top: 570px;
    }
}

@media only screen and (min-width: 2540px){
    .overlayDetails {
        top: 675px;
    }
}
