.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
    z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.window {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100%;
  background-color: #005540;
  color: white;
}

.btn2 {
  width: 40%;
  background-color: #005540;
  color: white;
}

.modal-footer {
  justify-content: center;
}

.loadScreen{
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.load {
  color: #005540;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
}

.bi{
  cursor: pointer;
}

.modal-content{
  width: 150%;
}

.row{
  display: flex;
  flex-direction: row;
}

.openModal:hover {
  color: #005540;
  cursor: pointer;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.parentToast {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.redInput {
  border-color: red;
}

.btn-tras {
  background-color: white;
}

.spinner-grow {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  color: #005540;
}

@media only screen and (max-width: 430px) {
  .background{
    background: none;
  }
  .form {
    height: 100%;
  }

  .window {
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-content{
    width: 100%;
  }
}
