.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/fondo-proyecto.jpg") no-repeat center
    center;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.window {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  width: 25%;
}

.btn {
  width: 100%;
  background-color: #005540;
  color: white;
}

.bi-eye {
  cursor: pointer;
}

.bi-eye-slash {
  cursor: pointer;
}

.redInput {
  border-color: red;
}

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .form {
    width: 60%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .form {
    width: 40%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1023px) {
  .form {
    width: 30%;
  }
}

@media only screen and (max-width: 430px) {
  .background {
    background: none;
  }

  .form {
    width: 60%;
    height: 100%;
  }

  .window {
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
