<div>
  <div class="container">
    <img class="img" src="../../../assets/img/logo-grande-verde.png" alt="logo" width="300">
  </div>
  <hr class="divisor">
  <form [formGroup]="form" (ngSubmit)="auth()">
    <div class="window">
      <div class="mb-3">
        <label class="form-label">{{"DNI" | translate}}</label>
        <input #dniLogin formControlName="dniLogin" type="text" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">{{"password" | translate}}</label>
        <div class="input-group mb-3">
          <input id="passwordField" #passwordLogin formControlName="passwordLogin" type="password" class="form-control" regexInput="[A-Z]*[a-z]*[0-9]*$" required>
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" (click)="showPassword('passwordField')" class="toggle-password">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <a class="openModal" data-bs-toggle="modal" data-bs-target="#emailModal">{{"forgotPassword" | translate}}</a>
        <br>
        <a class="openModal" data-bs-toggle="modal" data-bs-target="#registerModal">{{"createAccount" | translate}}</a>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn">{{"login" | translate}}</button>
        <button type="reset" class="btn">{{"cancel" | translate}}</button>
      </div>
    </div>
  </form>
</div>

<!--WRONG TOAST-->
<div class="parentToast">
  <div id="WrongToast" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex" style="background-color: rgb(238, 97, 97);">
      <div class="toast-body">
        {{"wrongCredencial" | translate}}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<!--SUCCESS TOAST-->
<div class="parentToast">
  <div id="successToast" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex" style="background-color: #005442;">
      <div class="toast-body">
        {{"successCreate" | translate}}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<!--Email modal-->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #eModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{"writeEmail" | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="emailLogin" name="emailLogin" type="email" class="form-control">
        <p *ngIf="!isValid" style="color: red;">{{"noEmail" | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
        <button (click)="sendMail(emailLogin)" type="button" class="btn">{{"send" | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!--Register modal-->
<form [formGroup]="formRegister" (ngSubmit)="createAccount()">
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" #rModal>
    <div class="modal-dialog">
      <div class="window">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel2">{{"newAccount" | translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">{{"DNI" | translate}}</label>
              <div class="col-sm-10">
                <input #dni formControlName="dni" name="dni" placeholder="12345678A" type="text" class="form-control" regexInput="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKE]$">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">{{"password" | translate}}</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input id="createPasswordField" #password formControlName="password" name="password" placeholder="******" type="password" class="form-control" regexInput="^([a-z0-9A-Z]*[<>-´ç`+*^Ç¨_:;,.¡¿?'!|ºª@#·$%&¬/()=[]{}€]?)*$">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" (click)="showPassword('createPasswordField')" class="toggle-password">
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">{{"account" | translate}}</label>
              <div class="col-sm-10">
                <input #account formControlName="account" name="account" placeholder="ES12 3456 7890 9876 5432 1234" type="text" class="form-control" regexInput="^ES\d{2}\s\d{4}\s\d{4}\s\d{4}\s\d{4}\s\d{4}$">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">{{"email" | translate}}</label>
              <div class="col-sm-10">
                <input #email formControlName="email" name="email" placeholder="doggy@gmail.com" type="email" class="form-control" regexInput="^[A-Z]*[a-z0-9A-Z]*[@]{1}[a-z]*[.]{1}[a-z]*$">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            <button type="submit" class="btn">{{"send" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>