<div class="container">
  <img class="img" src="../../../assets/img/Logo Atmira.png">
</div>
<div class="container">
  <form class="form">
    <div class="window">
      <div class="mb-3">
        <label class="form-label">DNI</label>
        <input [(ngModel)]="dni" name="dni" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" regexInput="[A-Z]*[a-z]*[0-9]*$">
      </div>
      <div [(ngModel)]="toast" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Attention</strong>
          <small>Error</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          DNI or Password are wrong. Please rewrite the fields
        </div>
      </div>
      <div class="mb-3">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot the password?</a>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Write an email account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input #email type="email" class="form-control">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="sendMail()" type="button" class="btn btn-primary">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal2">Create a new account</a>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
          <div class="modal-dialog">
            <div class="window">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel2">Write an email account</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">DNI</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" regexInput="^[0-9]{8}[A-Z]{1}$">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" regexInput="^([a-z0-9A-Z]*[<>-´ç`+*^Ç¨_:;,.¡¿?'!|\ºª@#·$%&¬/()=[]{}€]?)*$">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Account</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" regexInput="^ES\d{2}\s\d{4}\s\d{4}\s\d{4}\s\d{4}\s\d{4}$">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" regexInput="^[A-Z]*[a-z0-9A-Z]*[@]{1}[a-z]*[.]{1}[a-z]+$">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button (click)="sendMail()" type="button" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>
      <div class="mb-3">
        <button (click)="auth()" type="submit" class="btn">Submit</button>
        <button (click)="cancel()" type="submit" class="btn">Cancel</button>
      </div>
    </div>
  </form>
</div>
