.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.body {
    width: 600px;
    border: 2px solid #005540;
    border-radius: 2%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: #005540;

    button {
        background-color: #005540;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 10%;
        color: white;
    }
}

.imgBody {
    display: flex;
    justify-content: center;

    .cashierImg {
        height: 300px;
        padding: 10px;
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;

    button {
        width: 105px;
        background-color: #005540;
        color: white;  
    }
}

@media only screen and (max-width: 767px) {  
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
    }

    .imgBody {
        display: flex;
        justify-content: center;
    
        .cashierImg {
            height: 150px;
            padding: 10px;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
    
        button {
            width: 85px;
            font-size: 14px;
        }
    }

    .amountInput {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .imgBody {
        display: flex;
        justify-content: center;
    
        .cashierImg {
            height: 200px;
        }
    }
}