.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-card {
    border: 1px solid #005540;
    max-width: 400px;
    height: 75%;    
}

.img {
    max-width: 300px;
}